<% include header %>

<div class="container-report">

  <div class="report-header">
    <a href="/"><img class="logo" src="/img/logo.svg" /></a>
    <div class="report-header-inner">
      <h1>
        <%= repo.full_name %>
        <span class="ref"><%= current_ref %></span>
        <small><%= repo.description %></small>
        <span class="repo-badge">
        <span
          data-toggle="popover"
          title="Embeddable Badge"
          data-content="[![Waltz unpaid time](https://waltzapp.co/<%=
          repo.full_name %>.svg<%= repo.private ? '?token='+user.badge_token :
          '' %>)](https://waltzapp.co/<%=
          repo.full_name %>)"
          data-placement="bottom"
        >
          <img src="/<%= repo.full_name %>.svg" />
        </span>
      </h1>
    </div>
  </div>

  <div class="body">
    <%= report %>
  </div>
</div>

<% include footer %>
